= javascript_include_tag "http://www.google.com/jsapi"
= javascript_include_tag "menu"

:javascript
	google.load('orkut.share', '1');
	google.setOnLoadCallback(function() {
		var params = {};
		params[google.orkut.share.Field.TITLE] = 'WEBDOC GRAFFITI';
		params[google.orkut.share.Field.DESTINATION_URL] = '<data:post.url/>';
		var connection = new google.orkut.share.Connection(params);
		document.getElementById('orkut').onclick =
		  function(e) { connection.send('orkut.com', {}); return false;};
	}, true);	

#menu.box
	.boxr
	.boxr
		%a.menu{:href=>"/videos"} VIDEOS
	.boxr
		%a.menu{:href=>"/mapa"} MAPA
	.boxr 
		%a.menu{:href=>"/info"} INFO

	.boxr{:style=>"width: 40px"}
	.boxr{:style=>"font-size:8px"}

		%a.share.twitter{:href=>"#", :target=>"_blank"}
			%img.icon{:src=>"/assets/social/wdg_ico_twit_off.gif"}			

		%a.share.facebook{:href=>"#", :target=>"_blank"}
			%img.icon{:src=>"/assets/social/wdg_ico_face_off.gif"}

		%a.share#orkut{:href=>"#", :target=>"_blank"}
			%img.icon{:src=>"/assets/social/wdg_ico_orkut_off.gif"}

		%a.share{:href=>"/rss", :target=>"_blank"}
			%img.icon{:src=>"/assets/social/wdg_ico_rss_off.gif"}

	.boxr{:style=>"border-right: 0px"}