#base
	%img.base{:src=>"/assets/wdg_home_footer.png"}
	%img.logos{:src=>"/assets/logos/wdg-logos.png", :usemap=>"#logo-links"}
	%map{:name=>"logo-links"}
		%area{:shape=>"rect", :coords=>"0,0,120,120", :href=>"http://doctela.com.br", :alt=>"Doctela"}
		%area{:shape=>"rect", :coords=>"0,0,220,220", :href=>"http://extrapolo.com", :alt=>"ExtraPolo!"}