#base
	%img.base{:src=>"/assets/wdg_home_footer.png"}
	%img.logos{:src=>"/assets/logos/logos.png", :usemap=>"#doctela"}
	%map{:name=>"doctela"}
		%area{:shape=>"rect", :coords=>"0,0,120,120", :href=>"doctela.com.br", :alt=>"Doctela"}