%img{:src=>"/assets/seta_e.png", :id=>"togglao", :fechado=>"1"}	

:coffeescript
	$ ->
		$("body").css "overflow", "hidden"	
		$("#menu").css "margin-bottom", "30px"	

		trocar = (x, y) ->
			src = $("#togglao").attr("src").replace(x, y)
			$("#togglao").attr("src", src)

		$("#togglao").hover(
			-> trocar "seta_e", "seta_e2"
			-> trocar "seta_e2", "seta_e"								

		).click -> 
			$("#lateral").animate({width: 'toggle'})
			seta = $("#togglao")			
			if seta.attr("fechado")=="1"
				seta.attr("fechado", "0")
				seta.rotate({animateTo:-180})
			else 
				seta.attr("fechado", "1")
				seta.rotate({animateTo:0})
		$("#togglao").click()

		$(window).resize ->			
			seta = $("#togglao")
			metade = ($(window).height()/2 - seta.height()/2 -30)
			seta.css("top", metade)
			$('#lateral').css("height", $(window).height())
			$('#togglao').css("left", $(window).width()-40)

		$("#togglao").load -> $(window).resize()