= render :partial => "pages/fundo"
= render :partial => "pages/menu"

.container
	.logo
		= image_tag "/assets/wdg_logo_home.gif"
	
	%img.nav.esq{:src=>"/assets/seta_e.png"}
	.info-container		
		.info-box 
			%span#info EPISODIO 2: DIA INTERNACIONAL DO GRAFFITI
	%img.nav.dir{:src=>"/assets/seta_d.png"}

#base
	%img.base{:src=>"/assets/wdg_home_footer.png"}
	%img.logos{:src=>"/assets/logos.png"}

:coffeescript
	$ ->
		$("body").css "overflow", "hidden"
		$('.container').fadeIn(300)
			
		$("img.nav").hover(
			-> $(this).attr "src", "/assets/seta_e2.png", 
			-> $(this).attr "src", "/assets/seta_e.png"
		)
		$("img.nav.dir").hover(
			-> $(this).attr "src", "/assets/seta_d2.png", 
			-> $(this).attr "src", "/assets/seta_d.png"
		)

		$(".esq").click ->
			$(this).fadeOut()		
			w = $(document).width()
			metade = $(document).width()/2 - $(".info-box").width()/2
			$(".info-box").animate({left: "-="+w},'slow',
				-> 
					$(".info-box").css("left", w)
					$("#info").text "EPISODIO 3: BANKSY CONTRA-ATACA"
					$(".info-box").animate({left: metade},'slow', 
						-> $(".esq").fadeIn(200)
					)
			)

		$(".dir").click ->
			$(this).fadeOut()	
			w = $(document).width()
			metade = $(document).width()/2 - $(".info-box").width()/2
			$(".info-box").animate({left: "+="+w},'slow',
				-> 
					$(".info-box").css("left", -w)
					$("#info").text "EPISODIO 3: BANKSY CONTRA-ATACA"
					$(".info-box").animate({left: metade},'slow',
						-> $(".dir").fadeIn(200)
					)
			)			

		$(window).resize ->
			metade = ($(document).width()/2 - $(".logos").width()/2)
			$('.logos').css("margin-left", metade)
			$(".info-box").css("left", $(document).width()/2 - $(".info-box").width()/2)

		$("img.logos").load ->
			$(window).resize()