- content_for :head do
	= javascript_include_tag "jquery.rotate", "info"
= render :partial => "pages/fundo"
= render :partial => "pages/menu"

%a{:href=>"/"}
	%img{:src=>"/assets/logos/wdg_logo_wdg.gif", :id=>"wdg_logo"}

.info
	.box{:style=>"margin-top: 120px"}
		.box-head
			.boxr.item WEBDOC GRAFFITI
			.boxr{:style=>"border-right: 0px; width: 19px;"}
				%img.abre.aberto{:src=>"/assets/setas/seta_pqn.png", :toggle=>"#info-box", :fechado=>"0"}
	.box.in{:style=>"border-top: 0px; width: 884px; height: 300px; display: none; height: inherit"}
		#info-box.caixa{:style=>"border-bottom: 0px; padding: 8px;"}
			%p.caixa 
				Webdoc Graffiti é um documentário interativo sobre a arte urbana na capital paulista.
				A cada mês um novo episódio é lançado, abordando diferentes temas, estilos, artistas, coletivos, regiões, bairros e iniciativas, que fazem de São Paulo uma das mais importantes capitais mundiais da arte de rua.
				%br
				%br	
			%p.caixa 
				Os vídeos são divididos em pequenos blocos para compor cada episódio. Quebrando com a linearidade tradicional do cinema e da televisão, quem decide o que ver e em qual ordem é você! Utilize as tags para filtrar os temas de seu interesse.
				%br	
				%br	
			%p.caixa
				No mapa, explore ruas e regiões da cidade. Além do conteúdo WDG, aproveite para descobrir marcadores de graffitis e arte urbana adicionados poelos usuários. Você pode participar. Publique comentários, compartilhe o conteúdo e se quiser divulgar uma arte, adicione um novo marcador!
				%br	
				%br	
			%p.caixa
				Um formato que explora a linguagem documental do cinema e da televisão e a adapta para a internet. Isso é webdocumentário.
				%br	
				%br	
			%p Produção: Doctela
			%p Direção: Giovanni Francischelli
			%p Design de interação: Daniel Frota, Miguel Nóbrega e Rafael Polo
			%p Desenho de tipo: Daniel Frota
			%p Desenvolvimento web: Rafael Polo
			%p Design visual: André Menezes
			%p Efeitos Gráficos: André Menezes e Rafael Polo
			%p Edição de vídeos: Henrique Cartaxo
			%p Fotografia: Lívia Perez de Paula e Felipe Crepker Vieira
			%p Ilustração: Fabio Fontes Ovalles

= render :partial => "pages/rodape"