= javascript_include_tag "jquery.rotate"

:javascript
	$(document).ready(function(){
		
		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=231453760297312";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	});

%a{:href=>"/"}
	%img{:src=>"/assets/wdg_logo_wdg.gif", :id=>"wdg_logo"}

#mapa
	%iframe{:frameborder => "0", :height => "350", :allowtransparency=>"true", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Rua+da+Consola%C3%A7%C3%A3o,+S%C3%A3o+Paulo,+Brasil&aq=0&oq=rua+da+consolac&sll=-22.92677,-43.176591&sspn=0.023794,0.038538&t=m&ie=UTF8&hq=&hnear=R.+da+Consola%C3%A7%C3%A3o+-+S%C3%A3o+Paulo,+Brazil&ll=-23.550278,-46.654458&spn=0.011842,0.019269&z=14&output=embed", :width => "425"}	

#lateral	
	#opaco
	#menul
		= render :partial => "pages/menu"
		#marcador{:style=>"margin-top: 10px"}
			.box{:style=>"width: 386px"}
				.boxr
				.boxr.item{:style=>"width: 330px"} MARCADOR
				.boxr{:style=>"border-right: 0px; width: 15px;"}
					%img.abre{:src=>"/assets/seta_pqn_menu.png", :toggle=>".b1", :fechado=>"0"}		
			.box.in{:style=>"border-top: 0px; width: 386px"}
				%p.caixa.menor.b1
					texto				

			.box.lista{:style=>"width: 386px"}
				.boxr
				.boxr.item{:style=>"width: 330px"} TAGS
				.boxr{:style=>"border-right: 0px; width: 15px;"}
					%img.abre{:src=>"/assets/seta_pqn_menu.png", :toggle=>".b3", :fechado=>"0"}		
			.box.in{:style=>"border-top: 0px; width: 386px"}
				%p.caixa.menor.b3
					texto									
		
			.box.lista{:style=>"width: 386px"}
				.boxr
				.boxr.item{:style=>"width: 330px"} COMENTÃRIOS
				.boxr{:style=>"border-right: 0px; width: 15px;"}
					%img.abre{:src=>"/assets/seta_pqn_menu.png", :toggle=>".b4", :fechado=>"0"}		
			.box.in{:style=>"border-top: 0px; width: 386px"}
				%p.caixa.menor.b4
					#fb-root
					.fb-comments{"data-href"=>"http://example.com", "data-num-posts"=>2, "data-width"=>340, "data-colorscheme"=>"dark"}

			.box.lista
				.boxr
				.boxr.item{:style=>"width: 330px"} INSERIR MARCADOR
				.boxr{:style=>"border-right: 0px; width: 15px;"}
					%img.abre{:src=>"/assets/seta_pqn_menu.png", :toggle=>".b5", :fechado=>"0"}		
			.box.in{:style=>"border-top: 0px; width: 386px"}
				%p.caixa.menor.b5
					texto																
= render :partial=>"pages/toggle"