= javascript_include_tag "jquery.rotate"

#mapa
	%iframe{:allowfullscreen => "", :frameborder => "0", :height => "100%", :src => "http://www.youtube.com/embed/2-V9knhF6RU", :width => "100%"}

#lateral	
	#opaco
	#menul
		= render :partial => "pages/menu"

= render :partial=>"pages/toggle"