= javascript_include_tag "jquery.rotate"

#mapa
	%iframe{:allowfullscreen => "", :frameborder => "0", :height => "100%", :src => "http://www.youtube.com/embed/2-V9knhF6RU", :width => "100%"}

#lateral	
	#opaco
	#topo{:style=>"margin-left: 30px; position: absolute; top: 20px; height: 100%"}
		= render :partial => "pages/menu"

%img{:src=>"/assets/seta_d.png", :id=>"togglao", :fechado=>"0"}	

:coffeescript
	$ ->
		$("body").css "overflow", "hidden"

		$(window).resize ->			
			$('#lateral').css("height", $(document).height())
			$('#togglao').css("left", $(document).width()-40)
		$(window).resize()

		$("#togglao").hover(
			-> 
				if $(this).attr('fechado')=="0"
					src = $("#togglao").attr("src").replace("d", "d2")
				else
					src = $("#togglao").attr("src").replace("d", "d2")
				$("#togglao").attr("src", src)				
			-> 
				if $(this).attr('fechado')=="0"
					src = $("#togglao").attr("src").replace("d2", "d")
				else
					src = $("#togglao").attr("src").replace("d2", "d")
				$("#togglao").attr("src", src)	

		).click -> 
			$("#lateral").animate({width: 'toggle'})
			seta = $("#togglao")			
			if seta.attr("fechado")=="1"
				seta.attr("fechado", "0")
				seta.rotate({animateTo:0})
			else 
				seta.attr("fechado", "1")
				seta.rotate({animateTo:180})