= javascript_include_tag "jquery.rotate"

#mapa
	%iframe{:allowfullscreen => "", :frameborder => "0", :height => "100%", :src => "http://www.youtube.com/embed/2-V9knhF6RU", :width => "100%"}

#lateral	
	#opaco
	#menul
		= render :partial => "pages/menu"
		#marcador{:style=>"margin-top: 10px"}			
			.box{:style=>"width: 386px"}
				.box-head
					.boxr
					.boxr.item{:style=>"width: 330px"} UMA CIDADE CHEIA DE CORES
					.boxr{:style=>"border-right: 0px; width: 15px;"}
						%img.abre{:src=>"/assets/setas/seta_pqn_menu.png", :toggle=>".b1", :fechado=>"0"}		
			.box.in{:style=>"border-top: 0px; width: 386px;"}
				%p.caixa.menor.b1 
					Grafite ou grafito[1] (do italiano graffiti, plural de graffito) é o nome dado às inscrições feitas em paredes, desde o Império Romano. Considera-se grafite uma inscrição caligrafada ou um desenho pintado ou gravado sobre um suporte que não é normalmente previsto para esta finalidade. Por muito tempo visto como um assunto irrelevante ou mera contravenção, atualmente o grafite já é considerado como forma de expressão incluída no âmbito das artes visuais,[2] mais especificamente, da street art ou arte urbana - em que o artista aproveita os espaços públicos, criando uma linguagem intencional para interferir na cidade. Entretanto ainda há quem não concorde, comparando o grafite com a pichação.
					%br
					%br
					%span{:style=>"font-size: 16px; padding-bottom: 10px;"}
						tags: 
						%a.link{:href=>"#"}
							artista
						, 	
						%a.link{:href=>"#"}
							galo
						,	
						%a.link{:href=>"#"}
							processo

			.box{:style=>"width: 386px; margin-top: 30px;"}				
				.box-head
					.boxr
					.boxr.item{:style=>"width: 330px"} EPISÓDIO 02
					.boxr{:style=>"border-right: 0px; width: 15px;"}
						%img.abre.aberto{:src=>"/assets/setas/seta_pqn_menu.png", :toggle=>".videos-box", :fechado=>"1"}		
			.box.in{:style=>"border-top: 0px; width: 386px; display: block; height: 346px; color: white"}
				.videos-box
					.video{:style=>"padding-left: 16px; opacity: 0.3;"}
						%img{:src=>"/assets/vid.jpg"}
						.titulo PRIMEIRA PARTE
					.video
						%img{:src=>"/assets/vid.jpg"}
						.titulo SEGUNDA PARTE				
					.video{:style=>"padding-left: 16px"}
						%img{:src=>"/assets/vid.jpg"}
						.titulo MAIS UMA MAS COM UM NOME BEM MAIOR
					.video
						%img{:src=>"/assets/vid.jpg"}
						.titulo OUTRA PARTE						

			
			.box.lista{:style=>"width: 386px"}
				.box-head
					.boxr
					.boxr.item{:style=>"width: 330px"} COMENTÁRIOS
					.boxr{:style=>"border-right: 0px; width: 15px;"}
						%img.abre{:src=>"/assets/setas/seta_pqn_menu.png", :toggle=>".b4", :fechado=>"0"}		
			.box.in{:style=>"border-top: 0px; width: 386px"}
				%p.caixa.menor.b4
					#fb-root
					.fb-comments{"data-href"=>"http://example.com", "data-num-posts"=>2, "data-width"=>340, "data-colorscheme"=>"dark"}

:coffeescript
	$ ->
		$('.video>img').hover(
			-> $(this).next().addClass "ativo"
			-> $(this).next().removeClass "ativo"
		)

		abre = (id) ->
			seta = $(id)
			$(seta.attr("toggle")).parent().slideToggle()		
			if seta.attr("fechado") == "0"
				seta.attr("fechado", "1")
				seta.rotate({animateTo:90})
			else
				seta.attr("fechado", "0")
				seta.rotate({animateTo:0})

		$(".abre").click ->  
			$(".abre[fechado='1']").each(-> abre($(this)))
			

= render :partial=>"pages/toggle"