<<<<<<< HEAD
%h1 New ensaio

= render 'form'

= link_to 'Back', ensaios_path
=======
%h1 Novo ensaio

= render 'form'

= link_to 'volta', ensaios_path
>>>>>>> c8c5b1115815bf373e07331566c176a09fcef29b
